/* ****************** TAG SELECTOR **************** */

body{
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}


/* 100% = 16px = 1 em = 1 rem(root em) */

h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0;
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border-color: #EAF6F6;
    border-style: dotted none none;
    border-top-width: 5px;
    width: 5%;
    margin: 100px auto;
}

p{
    line-height: 2;
}

/* ******************* CLASS SELECTOR ****************** */

.bottom-container{
    background-color: #66BFBF;
    padding: 30px 0;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #EAF6F6;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
    text-decoration: none;
  }

.copyright{
    color: #EAF6F6;
    font-size: 0.75 rem;
    padding: 20px 0;
}

.cloud-top{
    position: absolute;
    top: 40px;
    right: 250px;
}

.cloud-bottom{
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.footer-link{
    color: #11999E;
    line-height: 2;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 10px 20px;
    
}

.footer-link:hover{
    color: #EAF6F6;
}

.intro{
    width: 30%;
    margin: 0 auto;
}

.laptop-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.middle-container{
    margin: 100px 0;
}

.painting-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.top-container{
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
